body {
  text-align: center;
  font-family: 'Codystar', 'Josefin Sans', 'Helvetica Neue', 'Helvetica', 'Arial';
  color: black;
  background-color: white;
  text-transform: uppercase !important;
}

.chart {
  padding:20px;
  border-radius: 7px;
  margin-top: 0% !important;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


.footer {
  position: fixed-bottom;
  font-family: 'Josefin Sans', 'Helvetica Neue', 'Helvetica', 'Arial';
  font-size: 12px;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: grey;
  margin-top: 10px;
  margin-bottom: 50px;
}

.footercr {
  margin-top: 20px;
}
